.logo {
  height: 75px;
}

@media screen and (max-width: 800px) {
  .logo {
    height: 60px;
  }
}
@media screen and (max-width: 500px) {
  .logo {
    height: 50px;
  }
}

.resourceFilter a {
  text-decoration: none;
  margin-right: 20px;
  font-size: 1.25rem;
}

.searchBox ol,
.searchBox ul,
.searchBox dl {
  padding-left: 0px;
}
