.searchShowcaseTabDropdown .dropdown-toggle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: 1px solid var(--bs-border-color);
  padding: 0.5rem;
}
.searchShowcaseTabDropdown .dropdown-menu {
  width: 100%;
}

.bootstrap li button {
  margin-left: auto;
}

.bootstrap .bestSearchPagination {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 576px) {
  .bootstrap .bestSearchPagination {
    justify-content: center;
  }
}

.bootstrap .bestSearchPagination a {
  background: none;
  color: var(--bs-primary);
}
.bootstrap .bestSearchPagination:nth-last-child(1) {
  margin-bottom: 4rem;
}
.bootstrap .bestSearchPagination a.active {
  background-color: var(--bs-primary);
  color: white;
}

.bootstrap .reactiveList .noResults {
  width: 100%;
}
.bootstrap .aiAnswerContainer a.enter-btn {
  color: white;
  text-decoration: none;
}
.bootstrap .aiAnswerContainer code,
pre {
  color: white;
}
.bootstrap .aiAnswerContainer .--ai-answer-message {
  max-width: 100%;
}
.bootstrap .aiAnswerContainer .aiLogo {
  max-width: 100%;
  width: 25px;
  margin-right: 5px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 5px;
}
.bootstrap .aiAnswerContainer .aiLogoText {
  font-size: 1rem;
}
.floatingBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px !important;
  height: 50px !important;
  font-size: 1.5rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.bootstrap .flex-1 {
  flex: 1;
}
.bootstrap h1,
.bootstrap h2,
.bootstrap h3 {
  font-family: Raleway, sans-serif;
}
